:root {
  --black: black;
  --blue: #3c42eb;
  --white: white;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--black);
  overflow-x: hidden;
}

header {
  display: inline;
  overflow-x: hidden;
}

.navbar-container {
  width: 100%;
  margin-inline: auto;
  align-items: center;
  height: 200px;
  gap: 1rem;
  background-image: url(../img/header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  display: flex;
}

.navbar-container .title {
  color: white;
  font-weight: 500;
  font-size: 1.5rem;
  text-shadow: 2px 2px 2px black;
}

.logo img {
  width: 90px;
  margin-left: 1.5rem;
  border-radius: 50%;
  box-shadow: 0.5px 0.5px 4px black;
}

.nav-list {
  background-color: var(--blue);
  padding: 10px;
  justify-content: space-around;
  display: flex;
  align-items: center;
  border-bottom: 2px solid navy;
  position: sticky;
  z-index: 9999;
  top: 0;
}
.nav-list ul {
  display: flex;
  gap: 1rem 3rem;
  justify-content: center;
}

.nav-list li {
  list-style: none;
}

.nav-list li a {
  font-size: 1.2rem;
  color: var(--white);
  font-weight: 700;
}

.nav-list li a::after {
  content: "";
  display: block;
  border-bottom: 0.1rem solid var(--black);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.nav-list li a:hover {
  color: var(--black);
}

.nav-list li a:hover::after {
  transform: scaleX(0.8);
}

.nav-list .search-form {
  position: absolute;
  top: 100%;
  right: 20%;
  background-color: #fff;
  width: 30rem;
  height: 3rem;
  display: flex;
  align-items: center;
  transform: scaleY(0);
  transform-origin: top;
  transition: 0.3s;
}

.nav-list .search-form.active {
  transform: scaleY(1);
}

.nav-list .search-form input {
  height: 100%;
  width: 100%;
  font-size: 1.6rem;
  color: var(--bg);
  padding: 1rem;
}
.nav-list .search-form label {
  cursor: pointer;
  font-size: 1.5rem;
  margin-right: 1.5rem;
  color: var(--bg);
}
.nav-list .search-form label:hover {
  color: var(--primary);
}

#hamburger-menu {
  display: none;
}
.nav-extra {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-extra a {
  color: #fff;
  margin: 0 1rem;
  font-weight: 500;
  font-size: 1.5rem;
  margin-right: 30px;
}
.nav-extra a:hover {
  color: var(--black);
}

/* hero section */
.hero {
  color: var(--white);
  display: flex;
  background-image: url(../img/hero-bg.jpg);
  width: 100%;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  mask-image: linear-gradient(rgba(0, 0, 0, 1) 70%, rgba(0, 0, 0, 0));
}
.hero .hero-content {
  display: flex;
  margin-top: 10rem;
  margin-bottom: 10rem;
  gap: 2rem 10rem;
}
.hero .hero-title {
  justify-content: center;
  flex-direction: column;
}

.hero .hero-title h1 {
  width: 50rem;
  font-size: 70px;
  font-style: italic;
  text-shadow: 2px 2px 4px var(--black);
}

.hero .hero-title h2 {
  width: 30rem;
  font-size: 30px;
  font-style: italic;
  text-shadow: 2px 2px 4px var(--black);
}

.hero .hero-img img {
  width: 18rem;
  border-radius: 10%;
}

/* about section */
.about {
  padding: 7rem 7% 1.4rem;
  color: var(--white);
  background-color: var(--bg);
  text-align: center;
}

.about h1 {
  margin-top: 3rem;
  font-size: 3rem;
  font-weight: 700;
}

.about .about-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about .about-container .about-img img {
  width: 20rem;
  border-radius: 50%;
  align-items: center;
}

.about .about-container .about-content {
  display: block;
  text-align: left;
}

.about .about-container .about-content h1 {
  font-size: 2.5rem;
  font-weight: 700;
  font-weight: 600;
}

.about .about-container .about-content p {
  font-size: 2rem;
  width: 50rem;
  font-weight: 500;
  margin-top: 1.5rem;
}

.about .learning {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
.about .learning h1 {
  font-size: 2.5rem;
  font-weight: 700;
  font-weight: 600;
  margin-bottom: 3rem;
}
.about .learning .learning-list {
  display: flex;
  justify-content: space-around;
}
.about .learning .learning-list ul {
  text-align: left;
  font-size: 1.5rem;
}
.about .learning .learning-list ul h6 {
  font-size: 2.5rem;
  font-weight: 500;
}

/* class section */

.class {
  padding: 7rem 7% 1.4rem;
  color: var(--white);
  text-align: center;
}

.class h1 {
  margin-top: 3rem;
  font-size: 3rem;
  font-weight: 700;
  color: var(--white);
}
.class .class-card {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem 2rem;
  justify-content: space-around;
}
.class .class-card a {
  display: flex;
  border-radius: 12px;
  background-color: rgb(143, 143, 143);
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 16px;
  margin-top: 4rem;
  border: 1px solid blue;
}
.class .class-card a .card-img img {
  width: 7rem;
  border-radius: 50%;
}

.class .class-card a .card-content {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.class .class-card a .card-content h1 {
  padding-top: 0;
  font-size: 1.5rem;
  color: var(--black);
  text-align: left;
  margin-top: 0;
  width: 15rem;
}

.class .class-card a .card-content p {
  font-size: 1.3rem;
  color: var(--black);
  width: 20rem;
  text-align: left;
}

/* contact */
.contact {
  padding: 7rem 7% 1.4rem;
  color: var(--white);
  text-align: center;
}
.contact h1 {
  margin-top: 3rem;
  font-size: 3rem;
  font-weight: 700;
  color: var(--white);
}
.contact .row {
  display: flex;
  margin-top: 2rem;
  background-color: rgb(27, 27, 27);
}

.contact .row .map {
  flex: 1 1 45rem;
  width: 100%;
  object-fit: cover;
}

.contact .row form {
  flex: 1 1 45rem;
  padding: 5rem 2rem;
  text-align: center;
}

.contact .row form .input-group {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  background-color: var(--bg);
  border: 1px solid #eee;
  padding-left: 2rem;
}

.contact .row form .input-group input {
  width: 100%;
  padding: 2rem;
  font-size: 1.7rem;
  background: none;
  color: #fff;
}
.contact .row form .input-group textarea {
  width: 100%;
  padding: 2rem;
  font-size: 1.7rem;
  background: none;
  color: #fff;
  height: 12rem;
}

.contact .row form .btn {
  margin-top: 3rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.7rem;
  color: #fff;
  background-color: var(--blue);
  cursor: pointer;
}

.contact .row form .btn.disabled {
  background-color: #999;
  cursor: not-allowed;
}

.contact .row .btn .send {
  height: 1.5rem;
  width: 1.5rem;
}

/* footer */
footer {
  background-color: var(--blue);
  text-align: center;
  padding: 1rem 0 3rem;
  margin-top: 3rem;
}

footer .socials {
  padding: 1rem 0;
}

footer .socials a {
  color: #fff;
  margin: 1rem;
  font-size: 1.8rem;
}

footer .socials a:hover {
  color: var(--black);
}

footer .nav li {
  list-style-type: none;
}
footer .nav {
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
}

footer .nav a {
  color: #fff;
  padding: 0.7rem 0.5rem;
  font-weight: 500;
  font-size: 1rem;
}

footer .nav a:hover {
  color: var(--black);
}

footer .credits {
  font-size: 0.8rem;
  color: var(--white);
}

footer .credits a {
  color: var(--black);
  font-weight: 800;
}

/* media query */
@media only screen and (max-width: 1336px) {
  html {
    font-size: 75%;
  }
}

@media only screen and (max-width: 830px) {
  html {
    font-size: 65%;
  }
  .hero .hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .hero .hero-title h1 {
    font-size: 4.5rem;
    text-align: center;
    font-style: normal;
    margin-bottom: 1.5rem;
  }

  .hero .hero-title h2 {
    font-size: 2.8rem;
    font-style: normal;
    width: 50rem;
    text-align: center;
    margin-bottom: 1.3rem;
  }
}

@media screen and (max-width: 768px) {
  html {
    font-size: 62.5%;
  }

  .navbar-container {
    height: 150px;
    z-index: 99999;
  }

  .navbar-container .title {
    font-size: 1.3rem;
  }

  .logo img {
    width: 80px;
  }

  .nav-list .nav {
    position: absolute;
    top: 100%;
    background-color: var(--blue);
    width: 100%;
    opacity: 0;
    flex-direction: column;
    transition: all 0.5s;
    align-items: center;
    justify-content: center;
  }
  .nav-list .nav.active {
    top: 100%;
    opacity: 1;
  }
  .nav-list .nav li {
    border-bottom: 1.3px solid var(--black);
    width: 100%;
    text-align: center;
  }
  .nav-list .nav a {
    color: var(--white);
    display: block;
    margin: 1rem;
    font-size: 1.5rem;
  }
  .nav-extra {
    position: relative;
    left: 130px;
  }
  .nav-extra a {
    color: var(--white);
    margin: 0 1rem;
    font-weight: 500;
    font-size: 1.5rem;
  }
  #hamburger-menu {
    display: inline-block;
  }

  /* hero */
  .hero {
    align-items: center;
    justify-content: center;
  }
  .hero .hero-content {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    vertical-align: top;
  }
  .hero .hero-title h1 {
    font-size: 4.5rem;
    text-align: center;
    font-style: normal;
    margin-bottom: 1.5rem;
  }
  .hero .hero-title h2 {
    font-size: 2.8rem;
    font-style: normal;
    width: 50rem;
    text-align: center;
    margin-bottom: 1.3rem;
  }
  /* about */
  .about .about-container {
    flex-direction: column;
    justify-content: center;
  }

  .about-container .about-img {
    width: 18rem;
    margin-top: 4.5rem;
  }

  .about-container .about-content {
    text-align: center;
  }

  .about-container .about-content h1 {
    font-size: 2.5rem;
    text-align: center;
  }

  .about-container .about-content p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }
  .contact .row {
    flex-wrap: wrap;
  }
  .contact .row .map {
    height: 30rem;
  }
  .contact .row form {
    padding-top: 0;
  }
  .contact .row form .input-group input {
    font-size: 100%;
  }
  .contact .row form .input-group input {
    font-size: 100%;
  }

  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 25px;
    width: auto;
  }
}

/* mobile phone*/
@media only screen and (max-width: 650px) {
  html {
    font-size: 55%;
  }
  .about-container .about-content p {
    font-size: 1rem;
    margin-bottom: 2rem;
    text-align: center;
    width: 200px;
  }
  .about .learning .learning-list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
  }

  .about .learning .learning-list li {
    width: 23rem;
  }
}

@media only screen and (max-width: 450px) {
  html {
    font-size: 45%;
  }
  .navbar-container {
    height: 105px;
  }
  .logo img {
    width: 65px;
    box-shadow: 1px 1px 3px black;
  }
}
